* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--first-color: #fa1406;
	--second-color: #d2c7be;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	/* font-family: 'Corinthia', cursive;
	font-family: 'Raleway', sans-serif; */
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(109.6deg, rgb(76, 5, 94) 11.2%, rgb(15, 28, 43) 91.1%);
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	width: 800px;
	background-image: radial-gradient(circle, rgb(43, 44, 46) 0%, rgb(25, 25, 25) 93%);
	border-radius: 8px;
	color: white;
	box-shadow: 3px 5px 10px black;
}
.info {
	position: absolute;
	top: 5px;
	right: 14px;
	padding: 20px;
	font-size: 24px;
	color: var(--second-color);
	cursor: pointer;
	transition: color 0.3s;
}

.info:hover {
	color: var(--first-color);
}

h1 {
	margin-bottom: 20px;
	font-size: 60px;
	font-weight: lighter;
}

.stopwatch {
	font-size: 82px;
	color: var(--first-color);
}

.time {
	visibility: hidden;
	color: var(--second-color);
	font-size: 22px;
}

.buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 30px;
}

button {
	margin: 10px;
	padding: 10px 20px;
	width: 20%;
	color: #fff;
	background-color: transparent;
	border: 1px solid var(--first-color);
	cursor: pointer;
	font-size: 22px;
	transition: background-color 0.3s;
}

button:hover,
button:focus {
	background-color: var(--first-color);
	outline: none;
}

.history {
	flex-grow: 1;
}

.time-list li {
	display: flex;
	justify-content: space-between;
	width: 300px;
	font-size: 22px;
}
.time-list span {
	font-weight: bold;
}

.modal-shadow {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 360px;
	padding: 20px 60px;
	border-radius: 15px;
	background-color: rgb(223, 206, 206);

}

.modal h3 {
	font-size: 32px;
	margin-bottom: 20px;
}

.modal p {
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 22px;
}

.modal .close {
	display: block;
	margin: 40px auto 0;
	width: 200px;
	background-color: var(--first-color);
}

.modal .close:hover {
	background-color: rgb(231, 95, 4);
}

.modal-animation {
	animation: show-modal .7s;
}

@keyframes show-modal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;;
	}
}